doctype html 
html 
    head 
        style 
            include ../static/style.css

    body 
        nav#navbar
            .logo-cont 
                //- | PK Dance Academy 
                .logo-img 
                    img(src="../static/Images/logo - red.png", alt="No Image Found")
            ul 
                li #[a(href = "/" class=(isActive('/')?'active':'')) Home]
                li #[a(href = "/aboutus" class=(isActive('/aboutus')?'active':'')) About Us] 
                li #[a(href = "/trainee" class=(isActive('/trainee')?'active':'')) Trainers] 
                li #[a(href = "/service" class=(isActive('/service')?'active':'')) Services]
                li #[a(href = "/feestructure" class=(isActive('/feestructure')?'active':'')) FeeStructure] 
                li #[a(href = "/contactus" class=(isActive('/contactus')?'active':'')) Contact Us]  

        section#intro-section 
            div.intro-heading Welcome to PK Dance academy 
            div.intro-subheading live to dance...!!! 

        section#courses-section
            | Courses we offer...
            .card-course-container 
                .card-course#card-course-flip-1
                    | solo 
                    .course-name 
                        img(src="../static/Images/solo-red.png", alt="")
                    .course-name-back#card-back-1 
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure repudiandae, accusantium ipsa mollitia aliquam id excepturi deserunt saepe culpa! Veniam sunt ipsam saepe?

                .card-course#card-course-flip-2
                    | couple 
                    .course-name
                        img(src="../static/Images/couple-red.png", alt="")
                    .course-name-back#card-back-2
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure repudiandae, accusantium ipsa mollitia aliquam id excepturi deserunt saepe culpa! Veniam sunt ipsam saepe?

                .card-course#card-course-flip-3
                    | hiphop
                    .course-name
                        img(src="../static/Images/hiphop-red.png", alt="")
                    .course-name-back#card-back-3
                        p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure repudiandae, accusantium ipsa mollitia aliquam id excepturi deserunt saepe culpa! Veniam sunt ipsam saepe?

        section#sponser-section
            | Our Sponsers
            .sponser-container
                img(src="../static/Images/facebook.png", alt="")
                img(src="../static/Images/google.png", alt="")
                img(src="../static/Images/instagram.png", alt="")
                img(src="../static/Images/whatsapp.png", alt="")
                img(src="../static/Images/youtube.png", alt="")

        
        footer#footer
            | copyright registered| Copying PK Dance Academy template is offense

        script
            include ../static/script.js